<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>66357301666-12g9rqvi1r6gdkhkfcrobtvndcm7j2ek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66357301666-12g9rqvi1r6gdkhkfcrobtvndcm7j2ek</string>
	<key>API_KEY</key>
	<string>AIzaSyCHymESVjcEkLVsJgw0BDzCQqQ2Oqhw8PU</string>
	<key>GCM_SENDER_ID</key>
	<string>66357301666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.term.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-d-3135d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-d-3135d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66357301666:ios:37dd965fe3431e05d9e2fb</string>
</dict>
</plist>